.App {
    font-size: 20px;
}
.i-age {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
  width: 30px;
  height: 20px;
  color: rgb(17, 17, 17);
  font-size: 18px;
  font-weight: reg;
  text-align: center;
}


.i-income, .i-savings, .i-contribution {
  outline: 0;
  border-width: 0 0 2px;
  border-color: lightgray;
  width: 70px;
  height: 20px;
  color: rgb(17, 17, 17);
  font-size: 18px;
  font-weight: reg;
  text-align: center;
}

.income::before, .savings::before {
    content: url('./img/dollar_1.jpg');
    position: relative;
    left: 11px;
    top: 3px;
    opacity: 0.5;
  }

  .contribution::before {
    content: url('./img/dollar_1.jpg');
    position: relative;
    left: 20px;
    top: 3px;
    opacity: 0.5;
  }

input:focus {
  border-color: gray;
}

.age{
    display: inline-block;
}

h5::before {
    content: url('./img/warning.JPG');
  }


.result{
    font-weight: 600;
    /* opacity: 0.3; */
}

.header{
    font-weight: 600;
    font-size: 26px;
}