html { font-size: 62.5% }

body {
  font-size: 1.2em;
  padding: 2em;
  color: #999;
}

figure {
  margin: 0;
}

form {
  line-height: 2;
}

.form {
  float: left;
  margin-right: 2em;
}

.visualization {
  float: left;
  width: 40%;
  border: 1px solid silver;
  padding: 2em;
}
